<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center active">
          List of Tasks
          <span class="badge badge-pill">
            <button class="btn btn-success" (click)="show=!show; EditShow=false; DetailShow=false">{{ show ? 'Hide
              Form' : 'New Task' }}</button>
          </span>
        </li>
        <div style="height: 300px; overflow: scroll;">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let task of tasks">
            {{ task.title }}
            <span class="badge badge-pill">
              <button class="btn btn-warning btn-sm" (click)="showForm(task)">Edit</button>
              <button class="btn btn-primary btn-sm" (click)="TaskDetail(task)">Detail</button>
            </span>
          </li>
        </div>
      </ul>
    </div>

    <div class="col-md-3" *ngIf="show">
      <div class="myForm">
        New:
        <span class="text-success">{{ message }}</span>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <input type="text" class="form-control" name="newTask.title" [(ngModel)]="newTask.title" placeholder="Task task">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="newTask.description" [(ngModel)]="newTask.description"
              placeholder="Task description">
          </div>
          <div class="form-group">
            <p><input type="checkbox" name="newTask.completed" [(ngModel)]="newTask.completed"> Is completed?</p>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="col-md-3" *ngIf="EditShow">
      <div class="myForm">
        Edit:
        <span class="text-success">{{ message }}</span>
        <form (submit)="update()">
          <div class="form-group">
            <input type="text" class="form-control" name="updateTask.title" [(ngModel)]="updateTask.title" placeholder="Task task">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="updateTask.description" [(ngModel)]="updateTask.description"
              placeholder="Task description">
          </div>
          <div class="form-group">
            <p><input type="checkbox" name="updateTask.completed" [(ngModel)]="updateTask.completed"> Is completed?</p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary btn-sm">Update</button>
            </div>

            <div class="col-md-6 text-right">
              <button class="btn btn-warning btn-sm text-white" (click)="EditShow=!EditShow">Hide Form</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <app-task *ngIf="taskDetail && DetailShow" [taskToShow]="taskDetail"></app-task>
  </div>
</div>