/* You can add global styles to this file, and also import other style files */
.container{
    margin: auto;
    text-align: center;
}

.myForm, .myTasks{
    margin: auto;
    text-align: left;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 10px;
}
